<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <section>

            <div class="container">

                <div class="card">

                    <div class="card-body my-5">
                        <div class="container text-center">
                            <img  src="" style="height:200px; width:200px;" class="my_profile_picture" th:src="@{'/image/'+'default.png'}" alt="profile photo">
                        </div>
                        <h1 class="text-center mt-3 text-muted font-italic font-weight-light">
                            Start Adding Your Contacts On Cloud...
                        </h1>
                        <div class="container text-center mt-4" >
                        <a th:href="@{/user/add_contact}" class="btn btn-primary btn-block text-center">ADD NEW CONTACT</a>
                        </div>

                    </div>

                </div>

            </div>

        <script>



        </script>

        </section>
</body>
</html>