body{background: #e2e2e2!important;
}
.bg-primary{background: #009688 !important;
}
.banner {
    width: 100%;
    height: 93vh;
    background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../image/calling0.jpg);
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center; /* This centers the image within the container */
    color: white;
}
.my-card{
padding:20px;
background: #FFFFFF;
}
.green-box {
  background-color: mediumseagreen;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 550px;
  min-height: 360px;
  border: 1px solid #9C9C9C;
  background-color: white;
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form .form-group {
  margin-bottom: 10px;
}

#login .container #login-row #login-column #login-box #login-form .form-group .row {
  align-items: center;
}

#login .container #login-row #login-column #login-box #login-form .form-group .text-right {
  text-align: right;
}

#register-link {
  display: inline-block;
  margin-left: 10px;
}

/* sidebar style*/
@media only screen and(max-width: 600px){
        .sidebar{
            display:none;
            width:80% !important;
            background:white;
            height: 100vh;
            position:fixed;
            padding-top:20px;
        }
        .content{
            margin-left:0%!important;
        }
}
.sidebar{
    width:18%;
    background:white;
    height: 100vh;
    position:fixed;
    padding-top:45px;
}

.sidebar a {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: grey;
    white-space: nowrap; /* Prevent line break */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}

.sidebar a:hover {
    background: #e2e2e2;
    white-space: normal; /* Restore normal white space */
    overflow: visible; /* Show overflowing text on hover */
}

.sidebar .divider{
    height:.5px;
    width:100vh;
    background:#e2e2e2;
    margin-top:10px;
}

.content{
    margin-left:20%;
}
.sidebar .crossBtn{
    position: absolute;
    top:0;
    right:35px;
    font-size: 36px;
    cursor:pointer;
}
.my_profile_picture{
    width:35px;
    height:30px;
    object-fit:cover;
    border-radius:50%;

}
.search-container{
    position: relative;
}

.search-result{
position: absolute;
background: white;
width: 100%;
padding: 10px;
border: 1px solid gray;
display: none;
}







